.ant-carousel {
.slider-home {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  align-items: center;
  padding: 0;
  
  position: relative;
  @media only screen and (max-width: 600px) {
    &{
        border-radius: 0;
    }
  }

   
.slider-con-inner {
    display: flex !important;
    align-items: center ;
    .contentContainer {
        position: absolute;
        width: 100%;
        margin: 0px 0px 0px 30px;
        h2 {
            color: #ffffff;
            font-size: 50px;

            @media only screen and (max-width: 600px) {
                &{
                    font-size: 30px;
                }
              }
        }
        p {
            font-size: 16px;
            color: #ffffff;
          width: 500px;
            @media only screen and (max-width: 600px) {
                &{
                    font-size: 13px;
                    width: 100%;
                }
              }
        }
        @media only screen and (max-width: 600px) {
            &{
                margin: 0;
                left: 0;
                padding: 10px;
               width: 100%;
            }
          }
       
      }
}

  .imageSlider {
    border-radius: 5px;
    width: 100%;
    overflow: hidden;
    @media only screen and (max-width: 600px) {
      &{
         border-radius: 0;
    }
  }
    img {
      width: 100%;
    }
  }

    .slick-dots {
      margin-bottom: 10px;
    }
  
}

}
.bgChange {
  background: #ffffff;
  margin: 0;
  padding: 0px 0px !important;
  .ant-card-body {
    background-color: #E6ECF1 !important;
  }
  @media only screen and (max-width: 600px) {
    & {
      background-color: #E6ECF1 !important;
      .ant-card-body {
      background-color: #ffffff !important;
    }
    }
  }
}
.simpleSection {
  padding: 50px 0px;
  display: flex;
  flex-direction: column;
  @media only screen and (max-width: 600px) {
    &{
      flex-direction: column-reverse;
      margin-top: 0;
      padding: 0 !important;
    }
  }
}
