.box {
    .btn-box {
        button {
            width: 150px;
            margin-bottom: 10px;
            margin-right: 10px;
        }
    }
}
.form-box {
    .discription {
        margin-top: 10px;;
    }
}